<header class="main-header clearfix" role="header">
    <div class="logo">
        <!-- <a href="#"><em>Grad</em> School</a> -->
        <a href="#" routerLink="/index"><img src="assets/Images/logo4.png" alt="" style="width:27%; margin-left:20px;"></a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
        <ul class="main-menu">
            <li><a href="#" routerLink="/index">Home</a></li>
            <li class="has-submenu"><a href="#section2">About Us</a>
                <ul class="sub-menu">
                    <li><a href="Web_2.php" routerLink="/about">Who we are?</a></li>
                    <li><a href="#nd" routerLink="/cloud">What we do?</a></li>
                    <li><a href="Web_2.php">How it works?</a></li>
                    <li><a href="Web_3.php" rel="sponsored" class="external">Our Services</a></li>
                </ul>
            </li>
            <li class="has-submenu"><a href="#section4">Services</a>
                <ul class="sub-menu">
                    <li><a href="#" routerLink="/cloud">Cloud</a></li>
                    <li><a href="#" routerLink="/cyber">Cyber Services</a></li>
                    <li><a href="#" routerLink="/iot">IoT</a></li>
                </ul>
            </li>
            <!-- <li><a href="#section5">Video</a></li> -->
            <li><a href="#" routerLink="/contact2">Contact</a></li>
            <li><a href="Login4.php" class="external">Login</a></li>
        </ul>
    </nav>
</header><br><br><br>

<div>
    <h5 id="h5" style=" background-color: #212529;"></h5>
</div>
<div>
    <h1 class="text-center" style="margin-top:-110px;color: #fff;font-size: 45px;">Terms and Conditions</h1>
</div>


<div id="b" style="margin-top:150px; text-align:center">
    <h1><b>Introduction</b></h1><br>
    <p style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;">Your privacy is important to us and we believe it is important for you to know what personal data we collect from you (and third parties), why we collect it, how we use it and what rights you might be entitled to as a data subject or consumer</p>
    <p style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;"><u><b>Please note:</b> all information in this privacy notice is applicable to you unless otherwise indicated based on your residency status. For the additional terms which may be applicable to you based on your residency status, please refer to your country-specific terms at the end of this notice</u>.
        In this notice, term “personal data” is used to represent any information relating to an identified or identifiable person; country-specific notices might adopt a different terminology.</p>
    <p style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;">We encourage you to read this notice, together with any additional and more specific information we may provide to you on various occasions when we are collecting or processing personal data on our websites, products or applications, events and initiatives
        so that you are aware of how and the purpose for which we are processing your personal data. (Please note: We issue a different privacy notice which applies where there is an employment relationship between us and its employees.)</p>

    <p style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;">- To get policy you need to pay,</p>
    <p style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;">- You can't refund a policy before 3 months,</p>
    <p style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;">- If Money is stuck then we won't be responsible,</p>
    <p style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;">- To get policy,you need to login first.</p>
    <h5 style="background-color: aquamarine; width:150px; height:45px; padding:8px; margin-bottom:90px;">Rs. 399/Month</h5>

    <p style="  margin-top: 20px;
text-align:center;
/* width: 750px; */
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;
margin-bottom:90px;
margin-right:130px;">

        <input type="checkbox" required> Yes, I agree</p>


</div>
<!-- https://sbi.co.in/web/personal-banking/digital/internet-banking -->
<button class="btn1"><a href="https://www.sbiepay.sbi/secure/transactionTrack" style="text-decoration:none; color:#fff;">Buy Now</a></button>






<footer style="margin-top: 1px;">
    <div class="container">
        <div class="social-links">
            <ul>
                <li><a href="https://twitter.com/nkdevv"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/unvabdesign/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://dribbble.com/_nK"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="https://www.instagram.com/unvab/"><i class="fa fa-instagram"></i></a></li>

            </ul>
        </div>
    </div>

    <div class="div1 col-md-12 col-sm-12 col-lg-12 text-center" style=" background-color: #152036;">
        <span class="" style="margin-top:25px;color:#fff;">Contact Us | Terms & Condition | Refund Policy | Privacy Policy</span>
        <!-- <hr style="color:fff;"> --><br><br>
        <span style="margin-bottom:10px; color:#fff;">© get-online-services.com.</span>
    </div>
</footer>