<header class="main-header clearfix" role="header">
    <div class="logo">
        <!-- <a href="#"><em>Grad</em> School</a> -->
        <a href="#" routerLink="/index"><img src="assets/Images/logo4.png" alt="" style="width:27%; margin-left:20px;"></a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
        <ul class="main-menu">
            <li><a href="#" routerLink="/index">Home</a></li>
            <li class="has-submenu"><a href="#section2">About Us</a>
                <ul class="sub-menu">
                    <li><a href="Web_2.php" routerLink="/about">Who we are?</a></li>
                    <li><a href="#nd" routerLink="/cloud">What we do?</a></li>
                    <li><a href="Web_2.php">How it works?</a></li>
                    <li><a href="Web_3.php" rel="sponsored" class="external">Our Services</a></li>
                </ul>
            </li>
            <li class="has-submenu"><a href="#section4">Services</a>
                <ul class="sub-menu">
                    <li><a href="#" routerLink="/cloud">Cloud</a></li>
                    <li><a href="#" routerLink="/cyber">Cyber Services</a></li>
                    <li><a href="#" routerLink="/iot">IoT</a></li>
                </ul>
            </li>
            <!-- <li><a href="#section5">Video</a></li> -->
            <li><a href="footer3.php">Contact</a></li>
            <li><a href="Login4.php" class="external">Login</a></li>
        </ul>
    </nav>
</header>

<br><br><br>


<div>
    <h5 id="h5" style=" background-color: #212529;"></h5>
</div>
<div>
    <h1 class="text-center" style="margin-top:-110px;color: #fff;font-size: 45px;">Your cloud, your journey</h1>
</div><br>
<div id="a" style="margin-top: 6em; text-align: justify; font-size: 16px;
line-height: 1.7em;">
    <p>Your company has a unique purpose and growth journey. That's why you need a distinct cloud strategy to take advantage of breakthrough technologies, scale rapidly, and seize emerging opportunities.We can help you drive business value, build resilience,
        and advance your goals of transformation, adaptation, and innovation for a reimagined future.</p>
</div>

<div id="a" style=" text-align: justify;">
    <p>Now a days cloud has moved to a new level.We helps customers to get to that level by providing services in <b>Cloud</b>. Using the latest of technology available, we help customers to get the most suitable custom solution for their business requirements</p>
</div>
<div id="a" style=" text-align: justify;     font-family: Arial, Helvetica, sans-serif;
">
    <p>With the solutions delivered from our cloud services, customers will be able to achieve their business goals for which they have opted to get the solution developed. Our cloud services include delivering the end to end solution along with servicing
        the customers for their specific cloud service needs</p>
</div>
<div id="b">
    <h2 style="text-align:center;"><b>Our capabilities</b></h2>
</div>
<div id="a">We power your success with our unmatched partnerships and cloud capabilities.</div>
<div id="b">
    <h3><b>01. Cloud Strategy & Transformation</b></h3><br>
    <h5 style="background-color: aquamarine; width:110px;">Challenge :</h5>
    <p style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;">Cloud tops the priority list for businesses, yet most enterprises are at an early stage in their cloud transformation journeys. This gap in technology capabilities presents a significant opportunity to create new business models and unlock use cases
        to leverage cloud-native solutions and ecosystems to accelerate business value.</p>
    <h5 style="background-color: aquamarine; width:130px;">Our Solution : </h5>
    <p class="" style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;">Our Cloud Strategy & Transformation partners with organizations to orchestrate their evolution to a new business model with cloud as the unifying digital fabric of the enterprise. Leveraging its domain and industry knowledge, We can help define the
        future vision, establish the strategy, and build a scalable solution roadmap for enterprises. We remove ambiguity and provide a clear path to value for IT investments and business growth.</p>

    <h5 style="background-color: aquamarine; width:80px;">Benefits</h5>


</div>
<div id="unlist">
    <ul style="list-style:disc;">
        <li>Driving a future-ready vision and delivery excellence with a holistic approach</li>
        <li>Framing a cloud platform strategy that delivers client-centric solutions</li>
        <li>Focusing on perpetual value with a crawl-walk-run approach</li>
        <li>Ensuring lower cost of ownership and sustainable results with robust UX and change adoption</li>
    </ul>
</div>

<button class="btn1"><a href="#" routerLink="/tc" style="text-decoration:none; color:#fff;">Get Policy</a></button>
<div id="b">

    <h3><b>02.We and Google Cloud</b></h3><br>
    <h5 style="background-color: aquamarine; width:110px;">Challenge :</h5>
    <p style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;">Companies today are under constant pressure to deal with data from disparate sources, technologies, operational silos, as well as disjointed customer and employee experiences. Many have adopted smart analytics tools, artificial intelligence (AI) and
        machine learning (ML) to make sense of data and transform the way they engage with customers, operate internally, and interact with their partners. Cloud is playing a key role in helping businesses adapt to this change—it has democratized access
        to cutting-edge AI and ML-powered tools that help organizations drive actionable insights for purpose-led growth. Advances in cloud and data technologies will only fuel the surge in AI adoption.</p>
    <h5 style="background-color: aquamarine; width:130px;">Our Solution : </h5>
    <p style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;">Our’s Data and AI Services on Google Cloud is designed to help enterprises achieve superior business outcomes from their cloud initiatives.  We bring together the power of data, AI, and cloud to help companies build greater resilience, enhance customer
        experience, and gain the ﬂexibility of an open, scalable, and democratized ecosystem.</p>

    <h5 style="background-color: aquamarine; width:80px;">Benefits</h5>


</div>
<div id="unlist">
    <ul style="list-style:disc;">
        <li>Faster modernization journey</li>
        <li>Quicker response to real-time business events.</li>
        <li>Better customer experience through intelligent operations</li>
        <li>Expanded access to AI and ML capabilities</li>
    </ul>
</div>
<button class="btn1"><a href="#" routerLink="/tc" style="text-decoration:none; color:#fff;">Get Policy</a></button>
<div id="b">

    <h3><b>03.We and AWS Cloud</b></h3><br>
    <h5 style="background-color: aquamarine; width:110px;">Challenge :</h5>
    <p style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;"><b>Unleash innovation with cloud - </b> Together, We and Amazon Web Services (AWS) help you craft your journey of transformation on cloud with clarity. We bring you the best of us and AWS to help you leverage the unifying digital fabric of cloud for
        continuous innovation that redefines value chains, delights customers, and impacts lives.</p>
    <h5 style="background-color: aquamarine; width:130px;">Our Solution : </h5>
    <p style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;"><b>Consulting and Advisory , Cloud Opertaions</b> Develop strategies for holistic cloud transformation, with end-to-end services for cloud operating models, security, operations set-up, digital process enablement, and cloud value realization.  Enable
        collaborative ecosystems and cloud computing at the edge to create hyper-personalized customer experiences with intelligent products, connected plants, connected services, and product life cycle management.</p>

    <h5 style="background-color: aquamarine; width:80px;">Benefits</h5>


</div>
<div id="unlist">
    <ul style="list-style:disc;">
        <li>Build a future-ready enterprise with modernized, domain-centric architectures</li>
        <li>Create user-centric experiences with adaptable service models.</li>
        <li>Experiment for continuous innovation</li>
        <li>Accelerate speed to market with improved processes</li>
    </ul>
</div>
<button class="btn1"><a href="#" routerLink="/tc" style="text-decoration:none; color:#fff;">Get Policy</a></button>









<footer style="margin-top: 1px;">
    <div class="container">
        <div class="social-links">
            <ul>
                <li><a href="https://twitter.com/nkdevv"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/unvabdesign/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://dribbble.com/_nK"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="https://www.instagram.com/unvab/"><i class="fa fa-instagram"></i></a></li>

            </ul>
        </div>
    </div>

    <div class="div1 col-md-12 col-sm-12 col-lg-12 text-center" style=" background-color: #152036;">
        <span class="" style="margin-top:25px;color:#fff;">Contact Us | Terms & Condition | Refund Policy | Privacy Policy</span>
        <!-- <hr style="color:fff;"> --><br><br>
        <span style="margin-bottom:10px; color:#fff;">© get-online-services.com.</span>
    </div>
</footer>