<header class="main-header clearfix" role="header">
    <div class="logo">
        <!-- <a href="#"><em>Grad</em> School</a> -->
        <a href="#" routerLink="/index"><img src="assets/Images/logo4.png" alt="" style="width:27%; margin-left:20px;"></a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
        <ul class="main-menu">
            <li><a href="#" routerLink="/index">Home</a></li>
            <li class="has-submenu"><a href="#section2">About Us</a>
                <ul class="sub-menu">
                    <li><a href="Web_2.php" routerLink="/about">Who we are?</a></li>
                    <li><a href="#nd" routerLink="/cloud">What we do?</a></li>
                    <li><a href="Web_2.php">How it works?</a></li>
                    <li><a href="Web_3.php" rel="sponsored" class="external">Our Services</a></li>
                </ul>
            </li>
            <li class="has-submenu"><a href="#section4">Services</a>
                <ul class="sub-menu">
                    <li><a href="#" routerLink="/cloud">Cloud</a></li>
                    <li><a href="#" routerLink="/cyber">Cyber Services</a></li>
                    <li><a href="#" routerLink="/iot">IoT</a></li>
                </ul>
            </li>
            <!-- <li><a href="#section5">Video</a></li> -->
            <li><a href="footer3.php">Contact</a></li>
            <li><a href="Login4.php" class="external">Login</a></li>
        </ul>
    </nav>
</header><br><br><br>



<div>
    <h5 id="h5" style=" background-color: #212529;"></h5>
</div>
<div>
    <h1 class="text-center" style="margin-top:-150px;color: #fff; font-size: 45px; ">Cyber Security</h1>
    <h1 class="text-center" style="margin-top:-0px;color: #fff; font-size: 40px;">(SECURITY FOR GROWTH)</h1>

</div>



<div id="a" style="margin-top: 6em; text-align: justify;">
    <p>We protect your business with our comprehensive portfolio of consulting, implementation, managed security services, and solutions, so that you can focus on growth.</p>
</div>
<div id="a" style=" text-align: justify;">
    <p>We offer security-as-a-service with our platform-first approach to integrate and modernize cybersecurity within enterprises, giving them agility and confidence to grow</p>
</div>

<div id="b">
    <h2 style="text-align:center;"><b>Our capabilities</b></h2>
</div>

<div id="a">We power your success with our unmatched partnerships and cyber capabilities.</div>
<div id="b">
    <h3><b>01. Threat Detection</b></h3><br>
    <h5 style="background-color: aquamarine; width:110px;">Challenge :</h5>
    <p style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;"><b>Invest to mitigate potential cyberattacks - </b> With growing digitalization and customers embracing new cloud technologies while dealing with ‘the new normal’ work culture of bring your own device (BYOD) and remote working, the risk of sophisticated
        cyberattacks is on the rise. Organizations are spending millions to protect their applications and IT assets from malicious attacks. It now becomes imperative for organizations to have clarity on their security strategy, and prioritize safeguarding
        their critical assets from unforeseen risks</p>

    <h5 style="background-color: aquamarine; width:130px;">Our Solution : </h5>
    <p class="" style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;">The pre-built assessment frameworks and aligned services make our Enterprise Vulnerability Management Services a complete package to address several business challenges regarding security:
    </p>
    <div style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;">
        <li><b>Application security assessment services:</b> Covers automated tool-based scanning, manual checks, and triaging of vulnerabilities identified in applications with alignment to industry benchmarks</li>
        <li><b>DevSecOps services:</b> Shift-left of security processes in application development to identify vulnerabilities earlier in the lifecycle and ensuring maximum risk reduction with minimal effort.</li>
        <li><b>Security consulting services:</b> Performs dipstick assessments for maturity baseline of organizations according to industry standards.</li>
    </div>



    <h5 style="background-color: aquamarine; width:80px;">Benefits</h5>


</div>
<div id="unlist">
    <ul style="list-style:disc;">
        <li>Self-heal controls with a strategic scanning regime</li>
        <li>Purpose-driven remediation program</li>
        <li>Risk-based prioritization (pinpoint exploitable vulnerabilities on critical assets)</li>

    </ul>
</div>
<button class="btn1"><a href="#" routerLink="/tc" style="text-decoration:none; color:#fff;">Get Policy</a></button>


<div id="b">
    <h3><b>02.Secure Cloud Transformation</b></h3><br>
    <h5 style="background-color: aquamarine; width:110px;">Challenge :</h5>
    <p style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;">Ensuring cyber security is a vital aspect of cloud migration. Today’s chief information security officers (CISOs) are switching from ‘perimeter security’ to ‘borderless security’. As pressure mounts to move from reactive to proactive strategies, CISOs
        are looking for cognitive tools to keep their digital estate safe. These tools improve surveillance and quick detection, threat identification, and intelligent responsiveness</p>
    <h5 style="background-color: aquamarine; width:130px;">Our Solution : </h5>
    <p style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;">It also ensures data and applications are safe and secure in the cloud from current and emerging cyber security threats. We offers: </p>
    <div style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;">
        <li><b>Secure foundation build:</b> Ensures foundation is built using prebuilt templates and shift left security is implemented utilizing policy as a code</li>
        <li><b>Cloud security consulting:</b>Provides cloud security maturity assessment, security design and architecture, security migration advisory and security assurance.</li>
        <li><b>Cloud security operations:</b>Enables instrumented governance across multi-cloud environment and provides advanced and specialized cloud-based security operations.</li>
    </div>


    <h5 style="background-color: aquamarine; width:80px;">Benefits</h5>


</div>
<div id="unlist">
    <ul style="list-style:disc;">
        <li>Faster time to market with predefined security blueprints</li>
        <li>Improved service quality through greater transparency and visibility</li>
        <li>Better compliance outcome by ensuring continuous enforcement, monitoring and measurement of compliance status</li>
        <li>Reduced security debt through a structured, well defined, repeatable and automated process</li>
    </ul>
</div>
<button class="btn1"><a href="#" routerLink="/tc" style="text-decoration:none; color:#fff;">Get Policy</a></button>



<div id="b">
    <h3><b>03.Privacy and Data Protection</b></h3><br>
    <h5 style="background-color: aquamarine; width:110px;">Challenge :</h5>
    <p style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;"> There are many challenges to privacy and data protection in today's digital age. Some of the key challenges include:</p>
    <div style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;">
        <li><b>Data breaches:</b> Hackers and cybercriminals are constantly finding ways to access and steal sensitive data, often resulting in major data breaches that compromise the privacy of millions of people.</li>
        <li><b>The sheer volume of data being collected: </b>As more and more devices are connected to the internet, the amount of data being collected about individuals is increasing rapidly. This makes it difficult to effectively protect all of this data.
        </li>
        <li><b>Lack of control over data: </b>Many people are not aware of the amount of data being collected about them, or they are not given the opportunity to opt out of having their data collected.</li>
    </div>

    <h5 style="background-color: aquamarine; width:130px;">Our Solution : </h5>

    <div style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;">
        <li><b>Use privacy settings:</b> Most social media and online services have privacy settings that allow you to control who can see your personal information and activity. Make sure to adjust these settings to your desired level of privacy.</li>
        <li><b>Use a virtual private network (VPN): </b>A VPN encrypts your internet connection and can help protect your online activity from being monitored.</li>
        <li><b>Be aware of phishing attacks: </b>Be cautious of emails or messages that ask you to click on a link or enter personal information, as these could be attempts to steal your data.</li>
    </div>


    <h5 style="background-color: aquamarine; width:80px;">Benefits</h5>


</div>
<div id="unlist">
    <ul style="list-style:disc;">
        <li>Optimize security investments</li>
        <li>Ensure digital trust</li>
        <li>Accelerate cloud transformation</li>
        <li>Protect customer data</li>
        <li>nhance digital ecosystem security</li>
    </ul>
</div>
<button class="btn1"><a href="#" routerLink="/tc" style="text-decoration:none; color:#fff;">Get Policy</a></button>





<footer style="margin-top: 1px;">
    <div class="container">
        <div class="social-links">
            <ul>
                <li><a href="https://twitter.com/nkdevv"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/unvabdesign/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://dribbble.com/_nK"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="https://www.instagram.com/unvab/"><i class="fa fa-instagram"></i></a></li>

            </ul>
        </div>
    </div>

    <div class="div1 col-md-12 col-sm-12 col-lg-12 text-center" style=" background-color: #152036;">
        <span class="" style="margin-top:25px;color:#fff;">Contact Us | Terms & Condition | Refund Policy | Privacy Policy</span>
        <!-- <hr style="color:fff;"> --><br><br>
        <span style="margin-bottom:10px; color:#fff;">© get-online-services.com.</span>
    </div>
</footer>