<header class="main-header clearfix" role="header">
    <div class="logo">
        <!-- <a href="#"><em>Grad</em> School</a> -->
        <a href="#" routerLink="/index"><img src="assets/Images/logo4.png" alt="" style="width:27%; margin-left:20px;"></a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
        <ul class="main-menu">
            <li><a href="#" routerLink="/index">Home</a></li>
            <li class="has-submenu"><a href="#section2">About Us</a>
                <ul class="sub-menu">
                    <li><a href="Web_2.php" routerLink="/about">Who we are?</a></li>
                    <li><a href="#nd" routerLink="/cloud">What we do?</a></li>
                    <li><a href="Web_2.php">How it works?</a></li>
                    <li><a href="Web_3.php" rel="sponsored" class="external">Our Services</a></li>
                </ul>
            </li>
            <li class="has-submenu"><a href="#section4">Services</a>
                <ul class="sub-menu">
                    <li><a href="#" routerLink="/cloud">Cloud</a></li>
                    <li><a href="#" routerLink="/cyber">Cyber Services</a></li>
                    <li><a href="#" routerLink="/iot">IoT</a></li>
                </ul>
            </li>
            <!-- <li><a href="#section5">Video</a></li> -->
            <li><a href="footer3.php">Contact</a></li>
            <li><a href="#" routerLink="/login" class="external">Login</a></li>
        </ul>
    </nav>
</header>
<br><br>

<section>
    <div class="h_3">
        <h1 style="margin-top: 50px;font-size: 40px; margin-bottom:70px;"><b>Our Services</b></h1>
    </div>
</section>
<div class="container-fluid">
    <div class="container">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-6">
                <img src="assets/Images/cloud1.jpg" alt="" style="width:570px; height:350px;margin-right: -20px;">
            </div>
            <div class="col-md-6" style="border:2px solid #ddd;height: 350px;">


                <h4 style="padding-left:20px; font-size:22px;padding-top:20px;">
                    <b>Cloud</b></h4>
                <p style="text-align:justify; padding-top:10px; padding-left:20px; padding-right:20px;">Cloud services are a type of internet-based computing that provides shared computer processing resources and data to computers and other devices on demand. It is a model of network computing where a program or application runs on a cloud
                    computing platform without the need for installation on a local computer. Users can access cloud-based applications through a web browser or a program interface.There are many different types of cloud services, including infrastructure
                    as a service (IaaS), platform as a service (PaaS), and software as a service (SaaS). IaaS provides access to computing resources such as servers, storage, and networking, while PaaS provides a platform for developing, testing, and
                    deploying applications.

            </div>

        </div>

        <div class="row" style="margin-top:20px;">
            <div class="col-md-6">
                <img src="assets/Images/IoT.jpg" alt="" style="width:570px; height:350px;margin-right: -20px;">
            </div>
            <div class="col-md-6" style="border:2px solid #ddd;height: 350px;">


                <h4 style="padding-left:20px; font-size:22px; padding-top:20px;">
                    <b> Cyber Security </b></h4>
                <p style="text-align:justify; padding-top:10px; padding-left:20px; padding-right:20px;">Cybersecurity services are designed to protect organizations and individuals from online threats such as hacking, data breaches, and identity theft. These services can include a variety of measures such as firewalls, antivirus software,
                    intrusion detection and prevention systems, and security information and event management (SIEM) systems.Cybersecurity services can be provided by a variety of organizations, including managed service providers, security consulting
                    firms, and specialized cybersecurity firms.</p>
            </div>


        </div>

        <div class="row" style="margin-top:20px; padding-bottom: 30px;">
            <div class="col-md-6">
                <img src="assets/Images/IoT1.png" alt="" style="width:570px; height:350px;margin-right: -20px;">
            </div>
            <div class="col-md-6 " style="border:2px solid #ddd;height: 350px;">
                <h4 style="padding-left:20px; font-size:22px; padding-top:20px;">
                    <b>IoT and Digital Engineering</b></h4>
                <p style="text-align:justify; padding-top:10px; padding-left:20px;padding-right:20px;">The Internet of Things (IoT) refers to the network of physical devices, vehicles, buildings, and other objects that are embedded with sensors, software, and network connectivity, enabling them to collect and exchange data. Digital engineering
                    refers to the use of digital technologies, such as computer-aided design (CAD) and building information modeling (BIM), in the design, construction, and operation of physical systems and products.In the manufacturing industry, digital
                    engineering and IoT can be used to improve supply chain management, reduce production downtime, and increase the efficiency of production processes. In transportation, they can be used to improve the safety and efficiency of vehicles
                    and infrastructure, such as roads and bridges.</p>
            </div>

        </div>

    </div>
</div>



<br><br>
<footer style="margin-top: 1px;">


    <div class="div1 col-md-12 col-sm-12 col-lg-12 text-center" style=" background-color: #152036;">
        <span class="" style="margin-top:25px;color:#fff;">Contact Us | Terms & Condition | Refund Policy | Privacy Policy</span>
        <!-- <hr style="color:fff;"> --><br><br>
        <span style="margin-bottom:10px; color:#fff;">© get-online-services.com.</span>
    </div>
</footer>