<header class="main-header clearfix" role="header">
    <div class="logo">
        <!-- <a href="#"><em>Grad</em> School</a> -->
        <a href="#" routerLink="/index"><img src="assets/Images/logo4.png" alt="" style="width:27%; margin-left:20px;"></a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
        <ul class="main-menu">
            <li><a href="#" routerLink="/index">Home</a></li>
            <li class="has-submenu"><a href="#section2">About Us</a>
                <ul class="sub-menu">
                    <li><a href="Web_2.php" routerLink="/about">Who we are?</a></li>
                    <li><a href="#nd" routerLink="/cloud">What we do?</a></li>
                    <li><a href="Web_2.php">How it works?</a></li>
                    <li><a href="Web_3.php" rel="sponsored" class="external">Our Services</a></li>
                </ul>
            </li>
            <li class="has-submenu"><a href="#section4">Services</a>
                <ul class="sub-menu">
                    <li><a href="#" routerLink="/cloud">Cloud</a></li>
                    <li><a href="#" routerLink="/cyber">Cyber Services</a></li>
                    <li><a href="#" routerLink="/iot">IoT</a></li>
                </ul>
            </li>
            <!-- <li><a href="#section5">Video</a></li> -->
            <li><a href="footer3.php">Contact</a></li>
            <li><a href="Login4.php" class="external">Login</a></li>
        </ul>
    </nav>
</header><br><br><br>




<div>
    <h5 id="h5" style=" background-color: #212529;"></h5>
</div>
<div>
    <h1 class="text-center" style="margin-top:-110px;color: #fff; font-size: 45px;">IoT and Digital Engineering</h1>
</div>
<div id="a" style="margin-top: 6em; text-align: justify;">
    <p> IoT-based systems can create exponential value by adding digital intelligence to physical objects. By connecting products, processes, plants, and people, organizations can create memorable customer experiences and engineer digital ecosystems without
        boundaries. We call this Bringing Life to Things™.</p>
</div>
<div id="b">
    <h2 style="text-align:center;"><b>Our capabilities</b></h2>
</div>
<div id="a">We power your success with our unmatched partnerships and IoT and Digital capabilities.</div>
<div id="b">
    <h3><b>01. Smart Store<sup>TM</sup></b></h3><br>
    <h5 style="background-color: aquamarine; width:110px;">Challenge :</h5>
    <p style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;">Stores have always been at the epicenter of retail disruption, be it the onslaught of digital or the recent pandemic. To compete with ecommerce giants, the present-day retailers are looking at smart sustainable facilities that are digitally enabled
        with smart technologies and help reduce the gap between offline and online shopping experience. Although footfalls are decreasing, retail stores remain the most important buying channel. Retailers are trying to adopt smart and connected technologies
        such as radio frequency identification (RFID), computer vision, smart cards, smart kiosks, mobile applications, automated payment, IoT, augmented/virtual/mixed reality inside the store for addressing the requirements across the key business functions
        of retail—merchandising, stores, and supply chain</p>
    <h5 style="background-color: aquamarine; width:130px;">Our Solution : </h5>

    <div style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;">
        <li><b>Ensure inventory management:</b> Elements such as on-shelf-availability, planogram compliance, waste prevention, electronic price updates, shelf edge ads, inventory reconciliation, gap scan are more tuned to ensure effective store inventory
            management.
        </li>
        <li><b>Manage asset effectively: </b>Solution elements like refrigeration monitoring, HVAC monitoring, asset tracking, predictive maintenance, intelligent energy control, trolley tracking / locking, and pallet tracking enable effective asset management
            in the store.</li>
        <li><b>Enhance associate productivity: </b>Components such as customer engagement, store collaboration, queue management, shelf replenishment, cash reconciliation and order fulfilment are built to address the need for effective utilization of the
            limited staff in the retail store.</li>
        <li><b>Enable correct ambience and enviroment: </b>We offers temperature monitoring and control, Lux monitoring and control, food temperature monitoring, central audio controls, and video signage controls.</li>
    </div>


    <h5 style="background-color: aquamarine; width:80px;">Benefits</h5>


</div>
<div id="unlist">
    <ul style="list-style:disc;">
        <li>Personalized shopping experience within and beyond physical stores.</li>
        <li>Future-ready cloud agnostics technology platform swiftly addresses infrastructure demand.</li>
        <li>Digital interoperability helps in delivering a harmonized customer experience across diverse shopping channels.</li>
    </ul>
</div>
<button class="btn1"><a href="#" routerLink="/tc"waa style="text-decoration:none; color:#fff;">Get Policy</a></button>
<div id="b">
    <h3><b>02. Clever Energy™</b></h3><br>
    <h5 style="background-color: aquamarine; width:110px;">Challenge :</h5>
    <p style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;"><b>94% of the world’s total delivered energy and more than one-third of greenhouse gases are consumed and emitted from commercial and industrial buildings</b> That's according to various energy council reports. The energy usage patterns of these buildings
        are unpredictable, given the size and complexity of enterprise operations. Enterprises are seeking to use IoT, edge, and AI-based analytics to achieve energy efficiency and reach their carbon neutral goals.</p>
    <h5 style="background-color: aquamarine; width:130px;">Our Solution : </h5>
    <p style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;"><b>Our Clever Energy provides a comprehensive platform covering the multiple energy functions of an enterprise and supports the integration of heterogeneous systems and assets.</b> </p>
    <div style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;">
        <li><b>Self-optimizing feature:</b> Adapts to new working conditions without manual intervention to provide customized analytics.</li>
        <li><b>Scalable architecture: </b>Ensures rapid deployment within 8-10 weeks and expands to a range of equipment.

        </li>
        <li><b>Carbon management and reporting: </b>Provides accurate carbon emission data to support compliance and sustainability.</li>
    </div>


    <h5 style="background-color: aquamarine; width:80px;">Benefits</h5>


</div>
<div id="unlist">
    <ul style="list-style:disc;">
        <li>Acquire real-time energy data from diverse infrastructure spread across geographies, and legacy and proprietary systems.</li>
        <li>Drive 24x7 real-time energy monitoring and gain enterprise-wide consolidated view to provide actionable insights for faster decision making</li>
        <li>Make informed decisions through predictive analytics to improve assets utilization.</li>
        <li>Gain flexibility in delivery and cost savings through unique commercial pricing models</li>
    </ul>
</div>
<button class="btn1"><a href="#" routerLink="/tc" style="text-decoration:none; color:#fff;">Get Policy</a></button>
<div id="b">
    <h3><b>03.DigiFleet™ </b></h3><br>
    <h5 style="background-color: aquamarine; width:110px;">Challenge :</h5>
    <p style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;"><b>Connect fleet and freight for the IoT advantage.</b> Dynamic business situations, resource availability, compliance needs, and sustainability targets are some of the key challenges in supply chain planning and operations. Enterprises across industries
        today are pursuing opportunities to optimize their fleet and freight movements by investing in digital technologies as they address changing customer demands. With proliferation of telematics and sensors, there is an abundance of data collected.
    </p>
    <h5 style="background-color: aquamarine; width:130px;">Our Solution : </h5>
    <p style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;"><b>DigiFleet is a suite of solutions focused on providing real-time actionable insights for assets on the move, and helping organizations reimagine supply chains</b>Powered by an IoT and AI-ML engine, the suite provides contextual and situational
        insights on fleet and supply chain operations by analyzing real-time data from the heterogeneous ecosystem. It offers modular, industry-specific features on software-as-a-service models to accelerate digitalization of fleet and supply chains through
        two pre-built modules.</p>
    <div style="  margin-top: 20px;
text-align:justify;
width: 750px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em;
margin-top: 22px;">
        <li><b>dPulse:</b>Optimizes the total cost of ownership (TCO) and drives sustainability strategies by increasing fleet reliability and utilization while reducing fuel and maintenance costs and providing improved efficiency in operations.</li>
        <li><b>dMove: </b>Predicts supply chain disruptions in a multi-modal, multi-carrier network. Unified visibility, route optimization, parcel condition, and ETA prediction are few of the insights made available to decision makers.</li>

    </div>


    <h5 style="background-color: aquamarine; width:80px;">Benefits</h5>


</div>
<div id="unlist">
    <ul style="list-style:disc;">
        <li>Ensure 24x7 visibility of assets on the move</li>
        <li>Reduce logistic costs by up to 20%</li>
        <li>Decrease wait time by up to 30%</li>
        <li>Improve driver behavior by 60%</li>
    </ul>
</div>
<button class="btn1"><a href="#" routerLink="/tc" style="text-decoration:none; color:#fff;">Get Policy</a></button>





<footer style="margin-top: 1px;">
    <div class="container">
        <div class="social-links">
            <ul>
                <li><a href="https://twitter.com/nkdevv"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/unvabdesign/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://dribbble.com/_nK"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="https://www.instagram.com/unvab/"><i class="fa fa-instagram"></i></a></li>

            </ul>
        </div>
    </div>

    <div class="div1 col-md-12 col-sm-12 col-lg-12 text-center" style=" background-color: #152036;">
        <span class="" style="margin-top:25px;color:#fff;">Contact Us | Terms & Condition | Refund Policy | Privacy Policy</span>
        <!-- <hr style="color:fff;"> --><br><br>
        <span style="margin-bottom:10px; color:#fff;">© get-online-services.com.</span>
    </div>
</footer>