<header class="main-header clearfix" role="header">
    <div class="logo">
        <!-- <a href="#"><em>Grad</em> School</a> -->
        <a href="#" routerLink="/index"><img src="assets/Images/logo4.png" alt="" style="width:27%; margin-left:20px;"></a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
        <ul class="main-menu">
            <li><a href="#" routerLink="/index">Home</a></li>
            <li class="has-submenu"><a href="#section2">About Us</a>
                <ul class="sub-menu">
                    <li><a href="Web_2.php" routerLink="/about">Who we are?</a></li>
                    <li><a href="#nd" routerLink="/cloud">What we do?</a></li>
                    <li><a href="Web_2.php">How it works?</a></li>
                    <li><a href="Web_3.php" rel="sponsored" class="external">Our Services</a></li>
                </ul>
            </li>
            <li class="has-submenu"><a href="#section4">Services</a>
                <ul class="sub-menu">
                    <li><a href="#" routerLink="/cloud">Cloud</a></li>
                    <li><a href="#" routerLink="/cyber">Cyber Services</a></li>
                    <li><a href="#" routerLink="/iot">IoT</a></li>
                </ul>
            </li>
            <!-- <li><a href="#section5">Video</a></li> -->
            <li><a href="footer3.php">Contact</a></li>
            <li><a href="#" routerLink="/login" class="external">Login</a></li>
        </ul>
    </nav>
</header>
<br><br>

<h1 class="mt-5" align="center"><b>Table Content</b></h1><br>

<div class="container">
    <table>
        <tr>
            <!-- <th>Id</th> -->
            <th>Name</th>
            <th>Email</th>
            <!-- <th>Password</th> -->
            <th>Message</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        <tr *ngFor="let detail of resp">
            <!-- <td>{{detail.id}}</td> -->
            <td>{{detail.name}}</td>
            <td>{{detail.email}}</td>
            <td>{{detail.mess}}</td>

            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="edit(detail)">Edit</button></td>
            <td>
                <Button class="btn btn-primary" (click)="onDelete(detail.id)">Delete</Button>
            </td>


        </tr>

    </table>
<!--  <div style="margin-top:15px">-->
<!--    <pagination-controls maxSize=5 responsive=true (pageChange)="p = $event"></pagination-controls>-->
<!--  </div>-->
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">


                <form ng-app="form" #updateForm="ngForm">

                    <div class="form-group">
                        <label for="">Name <sup style="color:red; font-size: 15px;">*</sup> </label><br>
                        <input required #name="ngModel" type="text" placeholder="Enter Name" ngModel [(ngModel)]="studentToUpdate.name" class="form-control" name="name">
                        <span *ngIf="name.invalid && name.touched" class="error">This field is required</span><br>
                    </div>
                    <div class="form-group">
                        <label for="">Email address <sup style="color:red; font-size: 15px;">*</sup> </label><br>
                        <input required type="email" #email="ngModel" placeholder="Enter Email" email ngModel [(ngModel)]="studentToUpdate.email" class="form-control" name="email">
                        <span *ngIf="email.invalid && email.touched" class="error">Plz enter a valid email</span><br>
                    </div>

                    <div class="form-group">
                        <label for="">Message <sup style="color:red; font-size: 15px;">*</sup> </label><br>
                        <input required #pass="ngModel" minlength="3" maxlength="50" type="text" placeholder="Enter Password" ngModel [(ngModel)]="studentToUpdate.mess" class="form-control" name="mess">
                        <span *ngIf="pass.invalid && pass.touched" class="error">This field is required</span><br>

                    </div>

                    <!-- <div class="form-group">
                        <label for="">Address <sup style="color:red; font-size: 15px;" >*</sup> </label><br>
                        <input pattern="[a-zA-Z ]*" #address="ngModel" type="text" placeholder="Enter Address" ngModel [(ngModel)]="studentToUpdate.useraddress" class="form-control" name="useraddress">
                        <span *ngIf="address.invalid && address.touched" class="error">plz provide the valid address</span><br>

                    </div> -->


                    <!-- (ngSubmit)="onSubmit(contactForm.value)" -->




                    <!-- <button [disabled]="contactForm.invalid" (click)="toggleTag()" class="btn1 btn btn-primary">Submit</button> -->
                    <!-- <h2 *ngIf="showMe">Thank You for Contacting Us</h2> -->


                    <h2 *ngIf="showMe" style="margin-left: 100px;">Thank You for Contacting Us</h2>

                </form>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <span *ngFor="let id of detaill"> -->
                <button [disabled]="updateForm.invalid" class="btn1 btn btn-primary" (click)="onUpdate(studentToUpdate.id)">Update</button>
                <!-- </span> -->
            </div>

        </div>
    </div>
</div>

<br><br>
<footer style="margin-top: 1px;">
    <div class="container">
        <div class="social-links">
            <ul>
                <li><a href="https://twitter.com/nkdevv"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/unvabdesign/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://dribbble.com/_nK"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="https://www.instagram.com/unvab/"><i class="fa fa-instagram"></i></a></li>

            </ul>
        </div>
    </div>

    <div class="div1 col-md-12 col-sm-12 col-lg-12 text-center" style=" background-color: #152036;">
        <span class="" style="margin-top:25px;color:#fff;">Contact Us | Terms & Condition | Refund Policy | Privacy Policy</span>
        <!-- <hr style="color:fff;"> --><br><br>
        <span style="margin-bottom:10px; color:#fff;">© get-online-services.com.</span>
    </div>
</footer>
