<header class="main-header clearfix" role="header">
    <div class="logo">
        <!-- <a href="#"><em>Grad</em> School</a> -->
        <a href="#" routerLink="/index"><img src="assets/Images/logo4.png" alt="" style="width:27%; margin-left:20px;"></a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
        <ul class="main-menu">
            <li><a href="#" routerLink="/index">Home</a></li>
            <li class="has-submenu"><a href="#section2">About Us</a>
                <ul class="sub-menu">
                    <li><a href="Web_2.php" routerLink="/about">Who we are?</a></li>
                    <li><a href="#nd" routerLink="/cloud">What we do?</a></li>
                    <li><a href="Web_2.php">How it works?</a></li>
                    <li><a href="#" routerLink="/services" rel="sponsored" class="external">Our Services</a></li>
                </ul>
            </li>
            <li class="has-submenu"><a href="#section4">Services</a>
                <ul class="sub-menu">
                    <li><a href="#" routerLink="/cloud">Cloud</a></li>
                    <li><a href="#" routerLink="/cyber">Cyber Services</a></li>
                    <li><a href="#" routerLink="/iot">IoT</a></li>
                </ul>
            </li>
            <!-- <li><a href="#section5">Video</a></li> -->
            <li><a href="#" routerLink="/contact2">Contact</a></li>
            <li><a href="#" routerLink="/login" class="external">Login</a></li>
        </ul>
    </nav>
</header>



<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video" style="margin-top: 30px;">
      <source src="assets/Images/course-video.mp4" type="video/mp4"/>
  </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>We are on the constant lookout for problems</h6>
            <h2><em>Your</em> Consultant</h2>
            <div class="main-button">
                <div class="scroll-to-section"><a href="footer3.php">Discover more</a></div>
            </div>
        </div>
    </div>
</section>
<section id="what-we-do">
    <div id="nd">
        <h3>
            What We Do
        </h3>
    </div>
</section>
<div class="container" style="margin-bottom:20px;">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div id="box1">
                <div class="container">
                    <article style="border:1px solid black; margin-top:10px; width:260px; padding-right:10px; margin-bottom:10px; background-color:#fff;">
                        <h4 id="h-4">Cloud</h4>
                        <p class="para">We can help you drive business value, build resilience, and advance your goals of transformation, adaptation, and innovation for a reimagined Lorem ipsum dolor sit amet.</p>
                        <p style="color:#D41317; padding-left:10px; padding-top:6px;">
                            <a href="Application_dev.php">+ Learn More </a>
                        </p>
                    </article>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div id="box1">
                <div class="container">
                    <article style="border:1px solid black; margin-top:10px; width:260px; padding-right:10px; margin-bottom:10px; background-color:#fff;">
                        <h4 id="h-4">Cyber Security</h4>
                        <p class="para">We protect your business with our comprehensive portfolio of consulting, implementation, managed security services, and solutions, so that you can focus on growth.</p>
                        <p style="color:#D41317; padding-left:10px; padding-top:6px;">
                            <a href="Application_dev.php">+ Learn More </a>
                        </p>
                    </article>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-3 col-lg-3">
            <div id="box1">
                <div class="container">
                    <article style="border:1px solid black; margin-top:10px; width:260px; padding-right:10px; margin-bottom:10px; background-color:#fff;">
                        <h4 id="h-4">
                            IOT and Digital Engineering</h4>
                        <p class="para"> IoT-based systems can create exponential value by adding digital intelligence to physical objects. By connecting products,people can create </p>
                        <p style="color:#D41317; padding-left:10px; padding-top:6px;">
                            <a href="Application_dev.php">+ Learn More </a>
                        </p>
                    </article>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div id="box1">
                <div class="container">
                    <article style="border:1px solid black; margin-top:10px; width:260px; padding-right:10px; margin-bottom:10px; background-color:#fff;">
                        <h4 id="h-4">Cognitive Business Operations</h4>
                        <p class="para">To get full value from your digital investments in operations, break the silos among business processes, IT infrastructure, and applications. </p>
                        <p style="color:#D41317; padding-left:10px; padding-top:6px;">
                            <a href="Application_dev.php">+ Learn More </a>
                        </p>
                    </article>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div id="box1">
                <div class="container">
                    <article style="border:1px solid black; margin-top:10px; width:260px; padding-right:10px; margin-bottom:10px; background-color:#fff;">
                        <h4 id="h-4">Data and Analytics</h4>
                        <p class="para">Our solutions provide insights that help you develop new products and services, elevate customer experience, and enhance business processes and outcomes and applications.</p>
                        <p style="color:#D41317; padding-left:10px; padding-top:6px;">
                            <a href="Application_dev.php">+ Learn More </a>
                        </p>
                    </article>
                </div>
            </div>

        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div id="box1">
                <div class="container">
                    <article style="border:1px solid black; margin-top:10px; width:260px; padding-right:10px; margin-bottom:10px; background-color:#fff;">
                        <h4 id="h-4">Consulting</h4>
                        <p class="para">Today's business landscape calls for new enterprise strategies, technological innovation, and a holistic approach to the changing expectations of customers and employees</p>
                        <p style="color:#D41317; padding-left:10px; padding-top:6px;">
                            <a href="Application_dev.php">+ Learn More </a>
                        </p>
                    </article>
                </div>
            </div>

        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div id="box1">
                <div class="container">
                    <article style="border:1px solid black; margin-top:10px; width:260px; padding-right:10px; margin-bottom:10px; background-color:#fff;">
                        <h4 id="h-4">Enterprise Solutions</h4>
                        <p class="para">Enterprise applications are the backbone of businesses today. Digital transformation requires a holistic approach with intelligent solutions from a range of ecosystem partners.</p>
                        <p style="color:#D41317; padding-left:10px; padding-top:6px;">
                            <a href="Application_dev.php">+ Learn More </a>
                        </p>
                    </article>
                </div>
            </div>

        </div>

        <div class="col-sm-3 col-md-3 col-lg-3">
            <div id="box1">
                <div class="container">
                    <article style="border:1px solid black; margin-top:10px; width:260px; padding-right:10px; margin-bottom:10px; background-color:#fff;">
                        <h4 id="h-4">Sustanability Services</h4>
                        <p class="para">Facilitate sustainable and inclusive economic growth and social mobility.sustainability service is a service that helps organizations to operate in a way that is environmentally friendly.</p>
                        <p style="color:#D41317; padding-left:10px; padding-top:6px;">
                            <a href="Application_dev.php">+ Learn More </a>
                        </p>
                    </article>
                </div>
            </div>


        </div>
    </div>
</div>

<section class="section contact" data-section="section6">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Let’s Keep In Touch</h2>
                </div>
            </div>
            <div class="col-md-6">

                <!-- Do you need a working HTML contact-form script?
                
                Please visit https://templatemo.com/contact page -->


                <form id="contact" ng-app="form" action="action.php" method="post" #contactForm="ngForm">
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset>
                                <input name="name" type="text" class="form-control" id="name" ngModel placeholder="Your Name" required="">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input name="email" type="email" class="form-control" id="email" ngModel placeholder="Your Email" required="">
                            </fieldset>
                        </div>
                        <!-- <div class="col-md-12">
                            <fieldset>
                                <input name="phone" type="number" class="form-control" id="phone" placeholder="Your phone Number" required="">
                            </fieldset>
                        </div> -->
                        <div class="col-md-12">
                            <fieldset>
                                <textarea name="mess" rows="6" class="form-control" id="message" ngModel placeholder="Your message..." required=""></textarea>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="button" (click)="onSubmit(contactForm)">Send Message Now</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 confo" style="color:#fff;">
                <!-- <div id="map">
                    <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="422px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div> -->
                <h2 class="display-4">Contact Info:</h2>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero similique reprehenderit optio debitis magnam error perferendis itaque eligendi blanditiis maiores.</p>
                <ul class="nk-contact-info">
                    <li>
                        <strong>Address:</strong> 10111 Santa Monica Boulevard, LA</li>
                    <li>
                        <strong>Phone:</strong> +44 987 065 908</li>
                    <li>
                        <strong>Email:</strong> info@Example.com</li>
                    <li>
                        <strong>Fax:</strong> +44 987 065 909</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<footer style="margin-top: 1px;">
    <div class="container">
        <div class="social-links">
            <ul>
                <li><a href="https://twitter.com/nkdevv"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/unvabdesign/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://dribbble.com/_nK"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="https://www.instagram.com/unvab/"><i class="fa fa-instagram"></i></a></li>

            </ul>
        </div>
    </div>

    <div class="div1 col-md-12 col-sm-12 col-lg-12 text-center" style=" background-color: #152036;">
        <span class="" style="margin-top:25px;color:#fff;">Contact Us | Terms & Condition | Refund Policy | Privacy Policy</span>
        <!-- <hr style="color:fff;"> --><br>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" routerLink="/views" color="#ffffff" fill="currentColor" class="bi bi-messenger view-icon" viewBox="0 0 16 16">
            <path d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76zm5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z"/>
          </svg>
        <br>
        <span style="margin-bottom:10px; color:#fff;">© get-online-services.com.</span>
    </div>
</footer>